useDynLib(Linnorm, .registration = TRUE)
export(Linnorm, Linnorm.limma, Linnorm.PCA, Linnorm.HVar, Linnorm.Cor, Linnorm.HClust, LinearRegression, Linnorm.Norm, LinearRegressionFP, Linnorm.SGenes, Linnorm.DataImput, Linnorm.tSNE, RnaXSim)
import(limma)
import(statmod)
import(utils)
import(ggplot2)
import(RcppArmadillo)
import(igraph)
import(ggdendro)
import(Rtsne)

importFrom("gmodels", "fast.prcomp")
importFrom("amap", "Dist")
importFrom("stats", "cor", "lm", "kmeans", "loess", "sd", "median", "pnorm", "aov", "p.adjust", "setNames", "cutree", "pt", "aggregate", "prcomp", "na.omit", "line", "cov", "pchisq", "rnorm", "rgamma", "ecdf", "rlnorm", "rnbinom", "rpois", "var")
importFrom("Rcpp", "evalCpp")
importFrom("fpc","pamk")
importFrom("vegan", "cascadeKM")
importFrom("mclust", "Mclust", "mclustBIC")
importFrom("apcluster", "apcluster", "negDistMat")
importFrom("ellipse", "ellipse")
importFrom("MASS", "glm.nb")
importFrom("grDevices", "dev.off", "pdf", "png", "col2rgb", "rainbow", "boxplot.stats")
importFrom("graphics", "plot")
importFrom("fastcluster", "hclust")
importFrom("zoo", "na.locf")
